---
- name: Install repo for ubuntu
  become: true
  shell: |
    . /etc/os-release
    echo "deb https://ftp.gwdg.de/pub/opensuse/repositories/home:/alvistack/xUbuntu_${VERSION_ID}/ /" > /etc/apt/sources.list.d/home:alvistack.list
    curl -L https://ftp.gwdg.de/pub/opensuse/repositories/home:/alvistack/xUbuntu_${VERSION_ID}/Release.key | apt-key add -
    apt-get update
  when:
    - ansible_distribution|lower == "ubuntu"
    - podman_version_ubuntu | default('unstable') == 'unstable'

- name: Install repo for ubuntu
  become: true
  shell: |
    . /etc/os-release
    echo "deb https://ftp.gwdg.de/pub/opensuse/repositories/home:/alvistack/xUbuntu_${VERSION_ID}/ /" > /etc/apt/sources.list.d/home:alvistack.list
    curl -L https://ftp.gwdg.de/pub/opensuse/repositories/home:/alvistack/xUbuntu_${VERSION_ID}/Release.key | apt-key add -
    apt-get update
  when:
    - ansible_distribution|lower == "ubuntu"
    - podman_version_ubuntu | default('unstable') == 'stable'
