name: Podman search

on:
  push:
    paths:
      - ".github/workflows/podman_search.yml"
      - ".github/workflows/reusable-module-test.yml"
      - ci/playbooks/*.yml
      - "ci/run_containers_tests.sh"
      - "ci/playbooks/containers/podman_search.yml"
      - "plugins/modules/podman_search.py"
      - "tests/integration/targets/podman_search/**"
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/podman_search.yml"
      - ".github/workflows/reusable-module-test.yml"
      - ci/playbooks/*.yml
      - "ci/run_containers_tests.sh"
      - "ci/playbooks/containers/podman_search.yml"
      - "plugins/modules/podman_search.py"
      - "tests/integration/targets/podman_search/**"
  schedule:
    - cron: 7 0 * * * # Run daily at 0:07 UTC

jobs:
  test_podman_search:
    uses: ./.github/workflows/reusable-module-test.yml
    with:
      module_name: "podman_search"
      display_name: "Podman search"
